export(ExpressionSet2phyloseq)
import(Biobase, except = "cache")
import(ExperimentHub)
import(ExperimentHubData)
import(magrittr)
import(phyloseq, except = "sampleNames")
importFrom(utils,install.packages)
importFrom(utils,read.csv)
