// Use Compass
@import "compass";

// Reset using Normalize
@import "normalize";

// Import fonts from Google
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);

// Site configuration
@import "config";

// Modules
@import "modules/buttons";
@import "modules/forms";
@import "modules/tables";
@import "modules/syntax";

// Import Partials
@import "partials/typography";
@import "partials/mixins";
@import "partials/grid";

// Mobile up base styles
@import "breakpoints/mobileup";

// Import media queries add more as you desire
@media only screen and (min-width: 800px) { @import "breakpoints/800up";}

// If IE support is needed you can add them here or create another stylesheet for specific IE fixes

// Other Added Styles
body {
  margin: 0;
}

blockquote {
  font-size: inherit;
}

blockquote img, blockquote iframe {
	box-shadow:  0 0 10px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.home p {
  text-align: justify;
}

ol p, ul p {
  text-align: left !important;
}

.description {
  text-align: justify !important;
}

.highlighter-rouge {
  font-size: x-large;
}

.centered {
  text-align: center !important;
}

@media only screen and (max-width: 799px) {
  .hide-me {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .show-small {
    display: none;
  }
}
